@font-face {
  font-family: "Roboto-Regular";
  src: url('Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url('Roboto-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Roboto-Regular", sans-serif;
  cursor: default;
}
.button {
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0 7px 0 black;
  margin-right: 10px;
  -webkit-user-select: none;
          user-select: none;
  font-size: 30px;
}
.button:last-child {
  margin-right: 0;
}
.button_active {
  background-color: white;
  color: gray;
  border: 2px solid gray;
}

/*# sourceMappingURL=styles.css.map*/